@tailwind base;
@tailwind components;
@tailwind utilities;


/* .blob_bg {
  background: url('/magicblob.png') center bottom/contain no-repeat;
} */

.background {
  background: url('/abstract3.jpg') center center/cover no-repeat;
}


.sub_heading {
  @apply text-light-500 font-bold text-2xl uppercase
}


.overlay {
  /* -webkit-clip-path: url("/splash.svg"); */
  clip-path: url("/logo.svg");
  object-position: center top;
  filter: brightness(0.7);
}

html,
body {
  -webkit-scrollbar-width: 0px;
  scrollbar-width: 0px;
}